.overview{
    flex-basis: calc(20% - 60px);
    height: 65px;
    padding: 25px 30px 25px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.overview header{
    display: flex;
    justify-content: space-between;
}

.overview header p{
    font-weight: 700;
}

.overview div.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview div.main div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.overview .main p.positive{
    font-size: 0.7em;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.overview .main p.negative{
    font-size: 0.7em;
    font-weight: 700;
    color: hsl(356, 69%, 56%);
}


.dark .overview {
    background-color: hsl(228, 28%, 20%); 
}

.dark .overview header p{
    color: hsl(228, 34%, 66%);
    font-size: 0.7em;
}

.dark .overview .main h1{
    color: hsl(0,100%,100%);
}

.light .overview {
    background-color: hsl(227, 47%, 96%);
}

.light .overview header p{
    color: hsl(228, 12%, 44%);
    font-size: 0.7em;
}

.light .overview .main h1{
    color: hsl(230, 17%, 14%);
}


@media screen and (max-width: 1023px) {
    .overview{
        width: calc(100% - 60px);
        height: 65px;
        padding: 25px 30px 25px 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .overview header{
        display: flex;
        justify-content: space-between;
    }
    
    .overview header p{
        font-weight: 700;
    }
    
    .overview div.main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .overview div.main div{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1419px) {
    .overview{
        flex-basis: calc(20% - 60px);
        height: 65px;
        padding: 25px 30px 25px 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .overview header{
        display: flex;
        justify-content: space-between;
    }
    
    .overview header p{
        font-weight: 700;
    }
    
    .overview div.main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .overview div.main div{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}